<h1><%= @list.name %> Bookmarks</h1>
<div>
    <ul class="list-group">
  <% @list.bookmarks.each do |bookmark| %>
    <li class="list-group-item">
      <%= bookmark.movie.title %> || Comment:
      <%= bookmark.comment %>
      <%= link_to bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure?" }, class: 'card-remove-link' do %>
      <i class="fas fa-trash-alt "></i>
      <% end %> </li>

  <% end %>
    </ul>
</div>
<h2><%= link_to "Add New Bookmark", new_list_bookmark_path(@list), class: "btn btn-warning" %></h2>
<h2><%= link_to "Back", lists_path, class: "btn btn-warning" %></h2>

